.logindialog {
	width: auto;
	max-height: none;
	height: auto;
	max-width:none;
}
.ggbuttonbox {
	text-align: center;
}
.ggboxrow {
	padding: 3px;
}
body {
	font: 15px/22.5px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}
.settingCell {
	text-align: left;
}
.ggpanel {
	padding: 0px;
	margin: 10px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	font: 15px/22.5px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
	background-color:#000050;
    border: 0px;
}
.ggpanel .qtip-content{
	padding: 0px;
	margin: 0px;
}
.ggpanelItem {
	padding: 3px;
	background-color:#F0F0F0;
	border: 1px solid #000050;
	color: #000050;
}
.ggpanelTable {
	border: 0px;
	border-collapse: collapse;
	width: 100%;	
}
.ggpanelCell {
	padding: 3px;
	border: 0px;
}
.ggpanelItem:first-child {
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}
.ggpanelItem:last-child {
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}
.ggpanelHeader {
	padding: 10px;
	color: #000050;
	border-bottom: none;
}
.day1 {
	background-color: #E0E0FF;
}
.day2 {
	background-color: #D0D0FF;
}
.day3 {
	background-color: #C0C0FF;
}
.day4 {
	background-color: #B0B0FF;
}
.day5 {
	background-color: #A0A0FF;
}
.day6 {
	background-color: #9090FF;
}
.day7 {
	background-color: #8080FF;
}
.dayPanel {
	float: left;
	margin: 1px;
}
.datePanel {
	color: #000050;
	text-align: center;
	padding: 2px;
}
.timeFramePanel {
	padding: 2px;
	background-color:#FFFFFF;
}
.timeFrameItem {
	vertical-align: middle;
}
.ggdropdown {
	display: none;
}
.ggclickablelistitem {
    background-color: #F0F0F0;
    cursor: pointer;
    
    transition: background-color .2s ease-in-out;
}
.ggclickablelistitem:hover {
    background-color: #3245a3;
    color: #FFFFFF;
}

.dummyContainer {
	margin: 0px;
	padding: 0px;
}
.collapsed {
	display: none;
}
.infoTooltip {
	background-color: #E0E0FF;
	border-color: #000050;
	color: #000050;
	font-size: 12px;
}
.tfSetting  {
	margin-right: 0px;
	text-decoration: none;
}
#tfpop-container>.popover>.popover-content {
	padding: 0px;
	background-color:#C0C0C0;
}
.tfSettingFormItem {
	display: none;
}
.tfSettingForm {
    max-height: 200px;
    -webkit-transition: max-height .2s ease-out;
    -moz-transition:  max-height .2s ease-out;
    -ms-transition:  max-height .2s ease-out;
    -o-transition:  max-height .2s ease-out;
    transition:  max-height .2s ease-out;
}
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: white;
	border-radius: 10px;
	border: solid 1px #000000;
	color: #000050;
}
.legendBadge {
	width: 50px;
	text-align: center;
}
.legendCell {
	text-align: left;
}
.playBadge {
	background-color: #00FF00;
}
.noPlayBadge {
	background-color: #C0C0FF;
}
.availableBadge {
	background-color: #FFFF00;
}
.notAvailableBadge {
	background-color: #606060;
	color: #FFFFFF;
}
.plusBox {
	display: inline-block;
}
.ggEnabledItem {
}
.ggDisabledItem {
	background-color: #F0F0F0;
	color: #909090
}
.ggDisabledItem .badge{
	color: #808080
}
.glossyHeader:before {  
        content: "";  
        width: 100%;  
        height: 20px;  
      
        display: block;  
        position: absolute; 
	top: 0px; 
        left: 0px;  
      
        -webkit-border-radius: 8px;  
        -moz-border-radius: 8px;  
        border-radius: 8px;  
      
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);  
        background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));  
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);  
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);  
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);  
        background: linear-gradient(to bottombottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);  
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );  
}
.glossyHeader {  
	background: #cfdbfd;
	background: -moz-linear-gradient(top, #cfdbfd 0%, #c5cff7 10%, #b3bced 25%, #b3bbf1 37%, #b3bcf5 50%, #9ba7ed 51%, #c0d2f8 83%, #d2e8fe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdbfd), color-stop(10%,#c5cff7), color-stop(25%,#b3bced), color-stop(37%,#b3bbf1), color-stop(50%,#b3bcf5), color-stop(51%,#9ba7ed), color-stop(83%,#c0d2f8), color-stop(100%,#d2e8fe));
	background: -webkit-linear-gradient(top, #cfdbfd 0%,#c5cff7 10%,#b3bced 25%,#b3bbf1 37%,#b3bcf5 50%,#9ba7ed 51%,#c0d2f8 83%,#d2e8fe 100%);
	background: -o-linear-gradient(top, #cfdbfd 0%,#c5cff7 10%,#b3bced 25%,#b3bbf1 37%,#b3bcf5 50%,#9ba7ed 51%,#c0d2f8 83%,#d2e8fe 100%);
	background: -ms-linear-gradient(top, #cfdbfd 0%,#c5cff7 10%,#b3bced 25%,#b3bbf1 37%,#b3bcf5 50%,#9ba7ed 51%,#c0d2f8 83%,#d2e8fe 100%);
	background: linear-gradient(to bottom, #cfdbfd 0%,#c5cff7 10%,#b3bced 25%,#b3bbf1 37%,#b3bcf5 50%,#9ba7ed 51%,#c0d2f8 83%,#d2e8fe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdbfd', endColorstr='#d2e8fe',GradientType=0 );
	color: #000050;
      
        position: relative;  
}  
.glossyHeader span {
	position: relative;  
	z-index: 1;
}
.hoverDay {
	background: #5883f8;
	background: -moz-linear-gradient(top, #5883f8 0%, #5c78e8 10%, #596cd7 25%, #5365df 37%, #4e63e8 50%, #4159dd 51%, #5685ec 83%, #57a9fb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5883f8), color-stop(10%,#5c78e8), color-stop(25%,#596cd7), color-stop(37%,#5365df), color-stop(50%,#4e63e8), color-stop(51%,#4159dd), color-stop(83%,#5685ec), color-stop(100%,#57a9fb));
	background: -webkit-linear-gradient(top, #5883f8 0%,#5c78e8 10%,#596cd7 25%,#5365df 37%,#4e63e8 50%,#4159dd 51%,#5685ec 83%,#57a9fb 100%);
	background: -o-linear-gradient(top, #5883f8 0%,#5c78e8 10%,#596cd7 25%,#5365df 37%,#4e63e8 50%,#4159dd 51%,#5685ec 83%,#57a9fb 100%);
	background: -ms-linear-gradient(top, #5883f8 0%,#5c78e8 10%,#596cd7 25%,#5365df 37%,#4e63e8 50%,#4159dd 51%,#5685ec 83%,#57a9fb 100%);
	background: linear-gradient(to bottom, #5883f8 0%,#5c78e8 10%,#596cd7 25%,#5365df 37%,#4e63e8 50%,#4159dd 51%,#5685ec 83%,#57a9fb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5883f8', endColorstr='#57a9fb',GradientType=0 );
	color: #FFFFFF;
}

.chatButton {
	top: 3px;
	color: #B03000;
}
.massDispoStatusButton{
}
.massDispoSettingButton{
}
.bigButton {
	margin-bottom: 20px;
}
.mainColumn {
	float: left;
	margin: 10px;
}
.containerPanel {
	padding: 0;
}
.availFormRow {
	margin: 0;
	border: solid 1px #DDDDDD;
	padding: 5px 10px;
}
.innerHeading {
	margin: 0;
	border: solid 1px #DDDDDD;
	padding: 5px 10px;
    background-color: #F5F5F5;
}
.filterFormRow {
	padding: 5px 10px;
	margin-bottom: 0px;
}

.confirmedgame {
	font-weight: bold;
}
.pageColumn {
	float:left;
	margin: 10px;
}
#toolbar {
	width: 250px;
}
.gmColumn {
	margin: 0px;
}
#inputName {
	width: 200px;
	margin-left: 10px;
}
