.width100p {
	width: 100%;
}
.plusHeader {
	background-color:#404040;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0px 5px;
	min-width: 200px;
}
.tooltip-inner {
	max-width:none;
	white-space:nowrap;
	padding: 2px;
}
.popover {
	max-width: none;
}
.popover-title {
	background-color:#404040;
	color: #FFFFFF;
	font-weight: bold;
}
.tfSettingTooltipBox {
	padding: 4px;
	margin-bottom: 0px;
}
.tfSettingTooltipHeader {
	background-color:#404040;
	color: #FFFFFF;
	font-weight: bold;
}
.tfSettingTooltipItem {
	background-color:#FFFFFF;
	color: #000000;
	text-align: left;
}
.tfSetting  {
	margin-right: 3px;
}
.myPABadge {
	border: solid 2px #FF0000;
}
.withoutGmBadge {
	background-color: #999999;
}
.withGmBadge {
	background-color: #C06000;
}
.withGameBadge {
	background-color: #006000;
}
.plusBox {
	display: inline-block;
}
.plusButton {
	top: 3px;
	color: #000080;
}
.chatButton {
	top: 3px;
	color: #B03000;
}
.massDispoStatusButton{
}
.massDispoSettingButton{
}
.bigButton {
	margin-bottom: 20px;
}
.mainColumn {
	float: left;
	margin: 10px;
}
.containerPanel {
	padding: 0;
}
.availFormRow {
	margin: 0;
	border: solid 1px #DDDDDD;
	padding: 5px 10px;
}
.innerHeading {
	margin: 0;
	border: solid 1px #DDDDDD;
	padding: 5px 10px;
    background-color: #F5F5F5;
}
.filterFormRow {
	padding: 5px 10px;
	margin-bottom: 0px;
}
.dayPanel {
	float: left;
}
.dayBodyPanel {

}
.day1 {
	background-color: #E0E0FF;
}
.day2 {
	background-color: #D0D0FF;
}
.day3 {
	background-color: #C0C0FF;
}
.day4 {
	background-color: #B0B0FF;
}
.day5 {
	background-color: #A0A0FF;
}
.day6 {
	background-color: #9090FF;
}
.day7 {
	background-color: #8080FF;
}
.datePanel {
	float: left;
	height: 62px;
	font-weight: bold;
	text-align: center;
}
.timeFramesPanel {
	float: right;
}
.timeFramePanel {
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 10px;
	display: block;
}
.timeFrameBodyPanel {
	padding: 2px;
	vertical-align: middle;
}
.timeFrameItem {
	float: left;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}
.weekPanel {
}
.confirmedgame {
	font-weight: bold;
}