.ui-dialog-titlebar-close {
	display: none;
}
#logindialog {
	width: auto;
	min-height: 52px;
	max-height: none;
	height: auto;
}
.ggboxrow {
	padding: 3px;
}
body {
	font: 15px/22.5px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}

.width100p {
	width: 100%;
}
.plusHeader {
	background-color:#404040;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0px 5px;
	min-width: 200px;
}
.panel {
	margin-bottom: 10px;
}
.tooltip-inner {
	max-width:none;
	white-space:nowrap;
	padding: 2px;
}
.popover {
	max-width: none;
}
.popover-title {
	background-color:#404040;
	color: #FFFFFF;
	font-weight: bold;
}
.tfSettingTooltipBox {
	padding: 4px;
	margin-bottom: 0px;
}
.tfSettingTooltipHeader {
	background-color:#404040;
	color: #FFFFFF;
	font-weight: bold;
}
.tfSettingTooltipItem {
	background-color:#FFFFFF;
	color: #000000;
	text-align: left;
	margin-bottom: 3px;
}
.tfSetting  {
	margin-right: 0px;
}
#tfpop-container>.popover>.popover-content {
	padding: 0px;
	background-color:#C0C0C0;
}
.tfSettingFormItem {
	display: none;
}
.tfSettingForm {
    max-height: 200px;
    -webkit-transition: max-height .2s ease-out;
    -moz-transition:  max-height .2s ease-out;
    -ms-transition:  max-height .2s ease-out;
    -o-transition:  max-height .2s ease-out;
    transition:  max-height .2s ease-out;
}
.badge {
	border: solid 2px #FFFFFF;
}
.withMyPABadge {
	border: solid 2px #FF0000;
}
.withMyGameBadge {
	background-color: #00A000;
}
.withoutGmBadge {
	background-color: #999999;
}
.withGmBadge {
	background-color: #C06000;
}
.withGameBadge {
	background-color: #3030F0;
}
.plusBox {
	display: inline-block;
}
.plusButton {
	top: 3px;
	color: #FFFFFF;
	background-color: #000080;
}
.chatButton {
	top: 3px;
	color: #B03000;
}
.massDispoStatusButton{
}
.massDispoSettingButton{
}
.bigButton {
	margin-bottom: 20px;
}
.mainColumn {
	float: left;
	margin: 10px;
}
.containerPanel {
	padding: 0;
}
.availFormRow {
	margin: 0;
	border: solid 1px #DDDDDD;
	padding: 5px 10px;
}
.innerHeading {
	margin: 0;
	border: solid 1px #DDDDDD;
	padding: 5px 10px;
    background-color: #F5F5F5;
}
.filterFormRow {
	padding: 5px 10px;
	margin-bottom: 0px;
}
.dayPanel {
	float: left;
	margin: 1px;
}
.dayBodyPanel {
	padding: 2px;
}
.day1 {
	background-color: #E0E0FF;
}
.day2 {
	background-color: #D0D0FF;
}
.day3 {
	background-color: #C0C0FF;
}
.day4 {
	background-color: #B0B0FF;
}
.day5 {
	background-color: #A0A0FF;
}
.day6 {
	background-color: #9090FF;
}
.day7 {
	background-color: #8080FF;
}
.datePanel {
	font-weight: bold;
	text-align: center;
}
.timeFramesPanel {
	float: right;
}
.timeFramePanel {
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	display: block;
}
.timeFrameBodyPanel {
	padding: 2px;
	vertical-align: middle;
}
.timeFrameItem {
	float: left;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}
.weekPanel {
	margin-bottom: 10px;
	padding: 5px 5px 0px 5px;
}
.confirmedgame {
	font-weight: bold;
}
.pageColumn {
	float:left;
	margin: 10px;
}
.legendBadge {
	width: 50px;
}
.gmColumn {
	margin: 0px;
}
.settingCell {
}
#inputName {
	width: 200px;
	margin-left: 10px;
}
