<div class="ggdropdown">
	<div class="ggpanelItem ggpanelHeader glossyHeader hoverDay">{{schedule.name}}</div>
	<div class="ggpanelItem ggclickablelistitem dispoDiv tfSettingAction" ng-show="status.dispoPJ && (!timeframe.busy)" alt-text="Pas dispo pour jouer ?" ng-click="toggleDispo('PLAYER', false)" norm-text="Je suis dispo pour jouer"></div>
	<div class="ggpanelItem ggclickablelistitem pasDispoDiv tfSettingAction" ng-show="(!status.dispoPJ) && (!timeframe.busy)" alt-text="Dispo pour jouer ?" ng-click="toggleDispo('PLAYER', true)" norm-text="Je ne suis pas dispo pour jouer"></div>
	<div class="ggpanelItem ggclickablelistitem dispoDiv tfSettingAction" ng-show="status.dispoMJ && (!timeframe.busy)" alt-text="Pas dispo pour maîtriser ?" ng-click="toggleDispo('GM', false)" norm-text="Je suis dispo pour maîtriser"></div>
	<div class="ggpanelItem ggclickablelistitem validateDiv tfSettingAction collapsible" ng-show="status.dispoMJ && (!timeframe.busy)">Valider une partie</div>
	<div class="ggpanelItem ggclickablelistitem pasDispoDiv tfSettingAction" ng-show="!status.dispoMJ && (!timeframe.busy)" alt-text="Dispo pour maîtriser ?" ng-click="toggleDispo('GM', true)" norm-text="Je ne suis pas dispo pour maîtriser"></div>
	<div class="ggpanelItem warningDiv tfSettingAction" ng-show="timeframe.busy && (timeframe.gaming[currentUser] != schedule.settingid)">Je suis déjà sur une autre partie !</div>
	<div class="ggpanelItem ggclickablelistitem cancelDiv tfSettingAction" ng-show="status.pj" ng-click="toggleDispo('PLAYER', false)">Quitter la partie</div>
	<div class="ggpanelItem ggclickablelistitem cancelDiv tfSettingAction" ng-show="status.mj" ng-click="toggleDispo('GM', false)">Annuler la partie</div>
	<div class="gameEditor ggpanelItem dummyContainer collapsed">
	  <div class="ggpanelSubheader hoverDay">Choisis tes joueurs... <span class="rightbutton badge buttonBadge"ng-show="numPlayers > 0" ng-click="validateGame(day.id, timeframe.code, schedule.id, $event)">... Puis clique ici !</span></div>
	  <div class="ggclickablelistitem ggpanelSubitem tfSettingAction" ng-repeat="player in schedule.availableplayers | filter: isAvailableForGame" ng-class="{validateDiv : gamePlayers[player.name]}" ng-click="toggleGamePlayer(player, $event)">{{ player.name }}</div>
	</div>
	<div class="ggpanelItem ggclickablelistitem noteDiv commentTrigger tfSettingAction collapsible"><span ng-show="!(schedule.idcomment>0)">Ajouter un commentaire</span><span ng-show="schedule.idcomment>0">Modifier mon commentaire</span></div>
	<div class="ggpanelItem commentEdit collapsed">
          <form id="commentForm" role="form" name="commentForm" ng-submit="setComment()" novalidate>
	    <button class="commentButton rightbutton" ng-disabled="commentForm.$invalid" type="submit">Valider</button>
	    <span class="inputContainer"><input type="text" class="inputComment expand" name="comment" placeholder="Tape ton commentaire" ng-model="schedule.message"/><span>
	  </form>
        </div>
	<div class="ggpanelItem" ng-repeat="game in schedule.games">
	  <span class="confirmedgame tfSettingSubbox">Partie confirmée:</span>
	  <ul class="gameRoster">
	    <li class="nomMJ">{{ game.gm.name }}<span class="commentDisplay" ng-show="game.gm.comment"> - {{ game.gm.comment }}</span></li>
	    <li ng-repeat="player in game.players" class="nomPJ">{{ player.name }}<span class="commentDisplay" ng-show="player.comment"> - {{ player.comment }}</span></li>
	  </ul>
	</div>
	<div class="ggpanelItem">
	  <span class="tfSettingSubbox">MJ Disponible(s):</span>
	  <ul class="gameRoster">
	    <li ng-repeat="player in schedule.availablegms" class="nomMJ"><span ng-class="{busyplayer : isBusyElsewhere(player.name)}">{{ player.name }}</span><span class="commentDisplay" ng-show="player.comment"> - {{ player.comment }}</span></li>
	  </ul>
	</div>
	<div class="ggpanelItem">
	  <span class="tfSettingSubbox">Joueur(s) Disponible(s):</span>
	  <ul class="gameRoster">
	    <li ng-repeat="player in schedule.availableplayers" class="nomPJ"><span ng-class="{busyplayer : isBusyElsewhere(player.name)}">{{ player.name }}</span><span class="commentDisplay" ng-show="player.comment"> - {{ player.comment }}</span></li>
	  </ul>
	</div>
	<div class="ggpanelItem">
          <span class="tfSettingSubbox">Ne sont pas disponible(s):</span>
	  <ul class="gameRoster">
	    <li ng-repeat="player in schedule.unavailable"><span ng-class="{busyplayer : isBusyElsewhere(player.name)}">{{ player.name }}</span><span class="commentDisplay" ng-show="player.comment"> - {{ player.comment }}</span></li>
	  </ul>
	</div>
    </div>
