								<img class="timeFrameItem timeFramePic" ttip="{{timeframesDesc[timeframe.code].name}}" ng-src="{{timeframesDesc[timeframe.code].pic}}"/>
								<a href="#" class="tfSetting" ng-repeat="schedule in timeframe.settings" ng-show="isTfSettingVisible(schedule)">
									<span class="badge {{statusDesc[getStatusCode(schedule)].style}}">{{schedule.code}}</span>
									<gg-tf-setting-tooltip></gg-tf-setting-tooltip>
								</a>

								<div class="timeFrameItem dropdown plusBox" ng-show="!timeframe.busy">
									<img id="plusButton-{{day.id}}-{{timeframe.code}}" class="tfExtra timeFrameItem plusButton" src="images/plus.png"	data-day="{{day.id}}" data-timeframe="{{timeframe.code}}" ng-click="selectTimeframe(timeframe)">
									<div class="ggdropdown addSettingDropdown">
										<div class="ggpanelItem ggpanelHeader glossyHeader hoverDay">Je propose une partie de...</div>
<div class="ggpanelItem ggclickablelistitem dropdownItem settingTrigger hoverDay collapsible">Créer une Chronique / One-Shot</div>
										<div class="ggpanelItem dropdownItem settingEditor collapsed dummyContainer" >
<form class="form-inline" role="form" name="createSettingForm" ng-submit="createAndAddSetting(newsetting)" novalidate>
	<div class="ggpanelSubheader hoverDay">
	    Nouvelle Chronique / One-Shot
	</div>
	<div class="ggpanelSubitem"><input type="text" class="inputSettingName expand" name="settingName" placeholder="Nom de la chronique" ng-model="newsetting.name" required maxlength="32"/></span>
	</div>
	<div class="ggpanelSubitem centered">
        <span class="badge selector" ng-click="newsetting.mode=0" ng-class="{ noPlayBadge : newsetting.mode == 0 }">Ouverte</span>
        <span class="badge selector" ng-click="newsetting.mode=1" ng-class="{ noPlayBadge : newsetting.mode == 1 }">Fermée</span>
        <span class="badge selector" ng-click="newsetting.mode=2" ng-class="{ noPlayBadge : newsetting.mode == 2 }">One-Shot</span>
	</div>
	<div class="ggpanelSubitem">
	    Code (3 lettres max) <input type="text" class="inputSettingCode" name="settingCode" placeholder="XXX" ng-model="newsetting.code" required size="3" maxlength="3"/>
		<button class="settingButton rightbutton badge buttonBadge" ng-disabled="createSettingForm.$invalid || (newsetting.mode<0)" type="submit">Valider</button>
	</div>
 </form>
										</div>
										<div class="ggpanelItem ggclickablelistitem dropdownItem" ng-repeat="setting in settingsList | filter: {status: 0} | filter: isSettingNew | orderBy: 'name'" ng-click="addSetting(setting)">{{setting.name}}</div>
									</div>
								</div>

