<!DOCTYPE html>
<html lang="en" ng-app="gamegrinderApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Tests Gamegrinder</title>
<!--<link href="css/bootstrap.css" rel="stylesheet" media="screen"> -->
<!--<link rel="stylesheet" href="css/mint-choc/jquery-ui-1.10.3.custom.css" rel="stylesheet"> -->
<link rel="stylesheet" href="css/jquery.qtip.css" rel="stylesheet">
<link rel="stylesheet" href="css/gg.css">
<script src="js/jquery-1.9.1.js"></script>
<!--<script src="js/jquery-ui-1.10.3.custom.js"></script> -->
<script type="text/javascript" src="js/jquery.qtip.js"></script>
<!-- link rel="stylesheet" href="css/bootstrap.css"-->

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/filters.js"></script>
<script src="js/gg.js"></script>

</head>
<body ng-controller="GameGrinderCtrl">
	<script type="text/javascript">
/*
		var popParams = {
			trigger : 'manual',
			container: '#tfpop-container',
			selector : '.tfSetting',
			content : function() {
				var popoverId = '#tfSettingTooltip-' + getTfSettingCode($(this));
				return $(popoverId).html();
			}						
		};
		var ttlock = null;
*/		
		function toggleTfSettingForm(code) {
			$('#tfSettingEditBox-' + code).slideToggle(300);
		}

		$(function() {
			$('#logindialogcontainer').qtip({
			    style: {
				classes: 'ggpanel logindialog'
			    },
			    content: {
				text: $('#logindialog')
			    },
			    position: {
				my: 'center',
				at: 'center',
				target: $(window)
			    },
			    show: {
				event: false,
				modal: {
				    on: true,
				    blur: false,
				    escape: false
				}
			    },
			    hide: false
			});
			$('[ttip!=""]').qtip({
				style: { classes: 'infoTooltip' },
				content: { attr: 'ttip' },
				position: {
					my: 'bottom left',
					at: 'top right'
				},
                show: {
                    delay: '40'
                }
			});
			$('.plusButton').qtip({
				content: { text: 'Proposer une partie' },
				position: {
					my: 'bottom center',
					at: 'top center'
				},
				show: { event: 'hover' },
				hide: { event: 'hover' }
			});
			$('.tfExtra').each(function() {
				$(this).qtip({
				    style: {
					classes: 'ggpanel'
				    },
				    content: {
					text: $(this).next('div')
				    },
				    position: {
					my: 'top center',
					at: 'bottom center'
				    },
				    show: {
					event: 'mouseenter click',
					solo: '.tfExtra'
				    },
				    hide: {
					delay: 100,
					fixed: 'true',
					event: 'mouseleave',
				    }
				});
			});
			$('.tfSetting').each(function() {
				$(this).qtip({
				    style: {
					classes: 'ggpanel'
				    },
				    content: {
					text: $(this).children('div').first()
				    },
				    position: {
					my: 'top center',
					at: 'bottom center'
				    },
				    show: {
					event: 'mouseenter click',
					solo: '.tfExtra'
				    },
				    hide: {
					delay: 100,
					fixed: 'true',
					event: 'mouseleave',
				    },
				    events: {
					hide: function(event, api) {
						$(this).find('.collapsed').hide();
					}
				    }
				});
			});
			if (typeof angular.element('body').scope().currentUser == 'undefined') {
				$( "#logindialogcontainer" ).qtip( "toggle", true );
			}
			$('#loginForm').submit(function(event) {
				$( "#logindialogcontainer" ).qtip( "toggle", false );
			});
			$('.tfSetting').click(function(event) {
				toggleTfSettingForm(getTfSettingCode($(this)));
			});
			$('.dayEditHeader').click(function(event) {
				$(this).next("div").slideToggle(300);
			});            
			$('.dayPanel').hover(function(event) {
				$(this).find(".datePanel").addClass("hoverDay");
			},
			function(event) {
				$(this).find(".datePanel").removeClass("hoverDay");
			});

/*
			$('.tfSetting').hover(function (e) {
				 if (ttlock == null) $(this).popover('show');
			},function (e) {
				 if (ttlock == null) $(this).popover('hide');
			});
			$('.tfSetting').popover(popParams);

			$('body').on('click', function (e) {
			    $('.tfSetting').each(function () {
				var setcode = getTfSettingCode($(this));
				if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
					if (this.id == ttlock) ttlock = null;
					$(this).popover('hide');
				}
				else {
					if (this.id != ttlock) {
						ttlock = this.id;
						$(this).popover('show');
						openTfSettingForm(setcode);
					}
					else {
						ttlock = null;
						$(this).popover('hide');
					}
				}
			    });
			});
			$('.plusButton').tooltip({
				placement : 'auto',
				title : 'Maîtriser une partie'
			});
			$('.chatButton').tooltip({
				placement : 'auto',
				title : 'Discussions'
			});
*/
		});

		function addAvailablePlayer() {
		}

		function addAvailableGM() {
		}

		function addMessage() {
		}
	</script>
   <div id="logindialogcontainer" style="display: none">
	<div id="logindialog">
		<form class="form-inline" id="loginForm" role="form"
			name="loginForm" ng-submit="login()">
			<div class="ggpanelHeader ggpanelItem glossyHeader">C'est qui ?</div>
			<div class="ggpanelItem">
				<label for="inputName">Tape ton
					pseudo:</label> <input type="text" id="inputName"
					name="userinput" placeholder="Ton pseudo sur le forum"
					ng-model="currentUser" required />
				<button id="nameButton" ng-disabled="loginForm.$invalid" type="submit">Valider</button>
			</div>
		</form>
	</div>
    </div>

<!--
	<div id="mjModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Organisation des parties</h4>
				</div>
				<div class="modal-body row">
					<div class="col-md-6">
						<div class="panel panel-default gmColumn">
							<div class="panel-body">
								<div class="btn-group width100p">
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Je propose de maîtriser... <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li ng-repeat="setting in settingsList"><a tabindex="-1"
											href="#">{{setting.name}}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default gmColumn">
							<div class="panel-body">							
								<div class="btn-group width100p">
									<button type="button" class="btn btn-primary dropdown-toggle width100p" data-toggle="dropdown">Je valide une partie de... <span class="caret"></span></button>
									<ul class="dropdown-menu width100p" role="menu">
										<li ng-repeat="settingtf in currentTimeframe.settings"><a tabindex="-1" href="#" ng-click="selectTimeframeSetting(settingtf)">{{settingsList[settingtf.code].name}}</a></li>
									</ul>
								</div>
								<div class="btn-group-vertical width100p" ng-show="currentSettingTf">
									<span class="btn btn-default">{{settingsList[currentSettingTf.code].name}}</span>
									<span class="btn btn-primary">Avec quels joueurs ?</span>
									<button type="button" class="btn {{player|recruitPlayersStyle:currentRecruits}}" ng-repeat="player in currentSettingTf.availableplayers" ng-click="toggleRecruit(player)">{{ player.name }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer button-group">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>
-->
<!--
	<div style="display: none">

		<div ng-repeat="week in weeks">
			<div ng-repeat="day in week.days">
				<div ng-repeat="timeframe in day.timeframes">
					<div ng-repeat="settingtf in timeframe.settings">
							<div id="tfSettingTooltip-{{day.id}}-{{timeframe.code}}-{{settingtf.code}}" class="panel-group tfSettingTooltipBox">
								<div class="panel panel-default list-group tfSettingTooltipItem tfSettingForm">Hello
										<div class="list-group-item tfSettingFormItem">
											Collapsible 1
										</div>
										<div class="list-group-item tfSettingFormItem">
											Collapsible 2
										</div>
								</div>
								<div class="panel panel-default tfSettingTooltipItem"
									ng-repeat="game in settingtf.games">
									<div class="panel-body">
										<span class="confirmedgame">Partie confirmée:</span>
										<ul>
											<li>{{ game.gm }} (MJ)</li>
											<li ng-repeat="player in game.players">{{ player.name }}</li>
										</ul>
									</div>
								</div>
								<div class="panel panel-default tfSettingTooltipItem">
									<div class="panel-body">
									MJ Disponible(s):
										<ul>
											<li ng-repeat="player in settingtf.availablegms">{{
												player.name }}</li>
										</ul>
									</div>
								</div>
								<div class="panel panel-default tfSettingTooltipItem">
									<div class="panel-body">
									Joueur(s) Disponible(s):
										<ul>
											<li ng-repeat="player in settingtf.availableplayers">{{
												player.name }}</li>
										</ul>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
<!--
	<div id="chatModal" class="modal fade" tabIndex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Discussions concernant le {{
						currentDay }}</h4>
				</div>
				<div class="modal-body list-group">
					<div class="list-group-item">Message 1 ...</div>
					<div class="list-group-item">Message 2 ...</div>
					<textarea class="form-control list-group-item" rows="3"
						placeholder="Tape ton message ici puis clique sur &quot;Enregistrer&quot;"></textarea>
				</div>
				<div class="modal-footer button-group">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>
	</div>
-->

	<div id="toolbar" class="pageColumn">
		<div id="greetingsDiv" class="ggpanel" ng-show="currentUser">
			<div class="ggpanelItem ggpanelHeader glossyHeader">Salut {{ currentUser }} !</div>
			<div class="ggpanelItem ggbuttonbox">
				<button type="button" ng-click="logout()">Changer d'utilisateur</button>
			</div>
		</div>

		<div id="legendContainer" class="ggpanel">
			<div class="ggpanelItem ggpanelHeader glossyHeader">Légende</div>
			<table class="ggpanelTable">
				<tr class="ggpanelItem">
					<td class="legendBadge settingCell ggpanelCell"><span class="badge notAvailableBadge">ABC</span></td>
					<td class="settingCell ggpanelCell legendCell">Pas dispo / intéressé</td>
				</tr>
				<tr class="ggpanelItem">
					<td class="legendBadge settingCell ggpanelCell"><span class="badge availableBadge">ABC</span></td>
					<td class="settingCell ggpanelCell legendCell">Je suis dispo</td>
				</tr>
				<tr class="ggpanelItem">
					<td class="legendBadge settingCell ggpanelCell"><span class="badge playBadge">ABC</span></td>
					<td class="settingCell ggpanelCell legendCell">Je joue !</td>
				</tr>
				<tr class="ggpanelItem">
					<td class="legendBadge settingCell ggpanelCell"><span class="badge noPlayBadge">ABC</span></td>
					<td class="settingCell ggpanelCell legendCell">Partie sans moi</td>
				</tr>
			</table>
		</div>

		<div id="campaignsContainer" class="ggpanel">
			<div class="ggpanelItem ggpanelHeader glossyHeader" ttip="Cliquez sur une chronique pour la rendre visible/invisible dans le planning">Chroniques Ouvertes</div>
			<table class="ggpanelTable">
				<tr class="ggpanelItem {{ setting.id|settingVisibleStyle:true:invisibleOpenSettings }} ggclickablelistitem" ng-repeat="setting in settingsList" ng-click="toggleSettingVisibility(setting.id, true)">
					<td class="legendBadge ggpanelCell"><span class="badge">{{setting.code }}</span></td>
					<td class="settingCell ggpanelCell">{{ setting.name }}</td>
				</tr>
			</table>
			<div class="ggpanelItem ggpanelHeader glossyHeader">Chroniques Fermées</div>
		</div>
	</div>


	<div id="tfpop-container"></div>			

	<div class="pageColumn">
		<div class="panel panel-default panel-body weekPanel"
			ng-repeat="week in weeks">

			<div class="dayPanel ggpanel"
				ng-repeat="day in week.days">
						<div class="ggpanelItem datePanel day{{day.dow}} glossyHeader">

								<span>{{ dowcodes[day.dow] }}</span> <br /><span>{{ day.dom }} / {{ day.month }}<span>
						</div>
						<div class="ggpanelItem timeFramePanel"
							ng-repeat="timeframe in day.timeframes">
								<img class="timeFrameItem" ttip="{{timeframesDesc[timeframe.code].name}}"
									src="{{timeframesDesc[timeframe.code].pic}}"
									data-test="{{timeframe.code}}" /> <a href="#"
									id="tfSettinglink-{{day.id}}-{{timeframe.code}}-{{settingtf.code}}" 
									class="tfSetting" data-toggle="popover" data-delay="0"
									data-placement="auto" data-html="true" data-animation="false"
									data-title="{{settingsList[settingtf.code].name}}"
									data-settingcode="{{settingtf.code}}" data-dayid="{{day.id}}"
									data-timeframe="{{timeframe.code}}"
									ng-repeat="settingtf in timeframe.settings"> <span
									class="{{settingtf|settingBadgeStyle:currentUser}}">{{settingtf.code}}</span>
							<div id="tfSettingTooltip-{{day.id}}-{{timeframe.code}}-{{settingtf.code}}" class="ggdropdown">
								<div class="ggpanelItem ggpanelHeader glossyHeader hoverDay dayEditHeader">{{settingsList[settingtf.code].name}}</div>
								<div id="tfSettingEditBox-{{day.id}}-{{timeframe.code}}-{{settingtf.code}}" class="dummyContainer collapsed">
										<div class="ggpanelItem ggclickablelistitem"><img src="images/visibleSetting.gif" ng-show="userIsInPlayers(settingtf.availableplayers)">Dispo pour jouer</div>
										<div class="ggpanelItem ggclickablelistitem"><img src="images/visibleSetting.gif" ng-show="userIsInPlayers(settingtf.availablegms)">Dispo pour maîtriser</div>
										<div class="ggpanelItem ggclickablelistitem" ng-show="userIsInPlayers(settingtf.availablegms)">Valider une partie</div>
										<div class="ggpanelItem ggclickablelistitem" ng-show="userIsGMing(settingtf)">Annuler la partie</div>
								</div>
								<div id="tfSettingEditBox-{{day.id}}-{{timeframe.code}}-{{settingtf.code}}" class="dummyContainer collapsed">
										<div class="ggpanelItem ggPanelHeader">Participants</div>
										<div class="ggpanelItem" ng-repeat="player in settingtf.availableplayers">{{ player.name }}</div>
								</div>
								<div class="ggpanelItem" ng-repeat="game in settingtf.games">
										<span class="confirmedgame">Partie confirmée:</span>
										<ul>
											<li>{{ game.gm }} (MJ)</li>
											<li ng-repeat="player in game.players">{{ player.name }}</li>
										</ul>
								</div>
								<div class="ggpanelItem">
									MJ Disponible(s):
										<ul>
											<li ng-repeat="player in settingtf.availablegms">{{ player.name }}</li>
										</ul>
								</div>
								<div class="ggpanelItem">
									Joueur(s) Disponible(s):
										<ul>
											<li ng-repeat="player in settingtf.availableplayers">{{ player.name }}</li>
										</ul>
								</div>
							</div>
								</a>

								<div class="timeFrameItem dropdown plusBox">
									<img id="plusButton-{{day.id}}-{{timeframe.code}}" class="tfExtra timeFrameItem plusButton" src="images/plus.gif"
										data-day="{{day.id}}"
										data-timeframe="{{timeframe.code}}" ng-click="selectTimeframe(timeframe)">
									<div class="ggdropdown">
										<div class="ggpanelItem ggpanelHeader glossyHeader hoverDay">Je propose une partie de...</div>
										<div class="ggpanelItem ggclickablelistitem" ng-repeat="setting in settingsList">{{setting.name}}</div>
									</div>
								</div>

						</div>

			</div>
		</div>

</body>
</html>

