@CHARSET "UTF-8";
body {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
}
.nopad {
	padding: 0;
}
.quietLink {
	text-decoration: none;
	color: black;
}
.header {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 18px;
}
.bottom {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 9px;
	  text-align: center;
	  vertical-align: middle;
	  color: #8E969D;
}
.selectedDay {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  color: black;
	  background-color: #EEEEA0; 
	  border: 1px solid black; 
}
.greyedDay {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  color: #505050;
	  background-color: #C0C0C0; 
	  border: 1px solid black; 
}
.greyedDay:HOVER {
	  background-color: #CCFFCC; 
}
.centered {
	  text-align: center;
}
.middle {
	vertical-align: middle !important;
}
.settingsCell {
	padding: 3px;
	height: 30px;
	padding-top: 6px;
	text-decoration: none;
}
.settingsPanel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 250px;
}
.settingsRow:HOVER {
	background-color: #CCFFCC;
}
.settingsPanel a {
	text-decoration: none;
	color: black;
}
.settingsIconCell {
	width: 15px;
	text-align: center;
}
.settingsNameCell {
	font-size: 14px;
}
.calendarPanel td {
	  vertical-align: top;
	  padding: 0px;
}
.settingsPanel td {
	padding: 3px;
	padding-top: 5px;
}
.calendarGlobalColumn {
	width: 615px;
}
.calendarMonthPanel {
	  border-collapse: separate;
}
.calendarMonthPanel td {
	  vertical-align: middle;
	  padding: 3px;
}
.notPlayDay {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  color: #000000;
	  background-color: #E0E0E0; 
	  border: 1px solid black; 
}
.notPlayDay:HOVER {
	  background-color: #CCFFCC; 
}
.emptyDay {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  color: #000000;
	  background-color: #FFFFFF; 
	  border: 1px solid black; 
}
.emptyDay:HOVER {
	  background-color: #CCFFCC; 
}
.calendarMonthHeader {
	  text-align:center;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  color: #000000;
}
.calendarMonthColumn {
	  border-bottom: 1px solid #707070;
	  border-right: 1px solid #707070;
}
.calendarIconCell {
	  border: 0; 
	  padding: 3px;
	  width: 19px; 
	  color:black;
	  background-color:inherit;
	  text-align: center;
}
.calendarContentCell {
	  border: 0; 
	  padding: 3px;
      width: 93px; 
	  color:black;
      background-color:inherit;
}
.calendarDaySubCell {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 12px;
	  text-decoration: none;
	  padding: 2px;
	  background-color:inherit;
}
.dayDetailsPanel {
	border: 1px solid black;
	background-color: grey;
	display: none;
}
